@import url(variables.css);

/* layaout */

.pagina_youtube{
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 56px 1fr;
  grid-template-areas:
    'header header'
    'sidebar container';
  height: 100vh;
}

/* estilos para el header*/

.header{
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color_para_header);
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  gap: 10px;
}
.logo-container{
  display: flex;
  align-items: center;
  gap: 6px;
}
.logo{
  display: flex;
  align-items: center;
  gap: 6px;
}
.logo-texto{
  letter-spacing: -1px;
  color:var(--color_blanco);
}
.logo-img{
  position: relative;
  height: 25px;
  width: 38px;
}
.search-container{
  display: flex;
  align-items: center;
  gap: 6px;
  width: 685px;
}
.search__formulario{
  position: relative;
  width: 100%;
  display: flex;
}
.search__buscador{
  height: 40px;
  width: 100%;
  color: var(--color_letras_buscador);
  background-color: var(--color_para_buscador);
  padding: 12px;
  outline: none;
  border: 1px solid var(--color_gris_rgba);
  border-radius: 10px 0 0 10px;
}
.search__icono{
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-color: var(--color_search_icono_fondo);
  color: var(--color_blanco);
  outline: none;
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
.search__formulario ~ .search__icono{
  border-radius: 50%;
}
.perfil-container{
  display: flex;
  align-items: center;
  gap: 25px; 
  cursor: pointer;
}
.perfil__icono{
  display: flex;
  width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.perfil__icono:hover{
  background-color: var(--color_gris_oscuro);
  transition: 0.8s;
}
.perfil__imagen{
  position: relative;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

/* estilos para el sidebar */

.sidebar{
  grid-area: sidebar;
  background-color: var(--color_para_sidebar);
  padding-top: 10px;
  overflow-y: scroll;
}
.sidebar-items{
  display: flex;
  flex-direction: column;
}
.sidebar-item{
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  transition: 0.5s;
  border-radius: 10px;
}
.sidebar__iconos{
  margin-right: 24px;
}
.sidebar-item:hover{
  background-color: var(--color_gris_oscuro);
}

/*escroll para el sidebar*/

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background-color: transparent;
  border-radius: 5px;
}
.sidebar::-webkit-scrollbar-thumb{
  background-color: var(--color_scroll);
}



/* estilos para el container */


.content{
  grid-area: container;

}
.chips-wapper{
  max-width: calc(100vw - 240px);
  overflow-x: scroll;
  background-color: var(--color_para_chips-wapper);
  display: flex;
  padding-left: 14px;
  border-top: 1px solid var(--color_gris_rgba);
  border-bottom: 1px solid var(--color_gris_rgba);
}


.chips-wapper::-webkit-scrollbar{
  height: 6px;
}
.chips-wapper:hover::-webkit-scrollbar-thumb{
  background-color: var(--color_scroll);
}

.chips{
  margin: 12px 6px;
  background-color: var(--color_fondo_chips);
  padding: 6px 12px;
  color: var(--color_blanco);
  cursor: pointer;
  border-radius: 16px;
  white-space: nowrap;
  transition: 0.5s;
}
.chips:hover{
  background-color: var(--color_gris_claro);
}
.video-container{
  display: grid;
  height: calc(100vh - 118px);
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  grid-auto-rows: 250px;
  gap: 18px;
  padding: 20px ;
  background-color: var(--color_para_chips-wapper);
  overflow-y: scroll;
}

.video-container-cower{
  position: relative;
  transition: 0.5s;
}
.vid-content{
  margin-bottom: 26px;
  position: relative;
  width: 100%;
  padding: 8px;
  border-radius: 12px;
  transition: 1s;
}
.vid-content:hover{
  background-color: var(--color_para_vid-content);
}

.vid-box{
  position: relative;
  width: auto;
  height: 145px;
  display: block;
}
.vid-box__imagen{
  object-fit: cover;
  border-radius: 12px;
}

.video-detalle{
  display: flex;
  color: var(--color_blanco);
  padding-top: 12px;
}
.canal-logo__imagen{
  position: relative;
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.detail{
  margin-left: 12px;
}
.titulo{
  font-size: 0.9rem;
}
.canal-nom{
  font-size: 0.8rem;
  margin-top: 10px;
  color: var(--color_gris_claro);
}
.videos-uplo{
  display: flex;
  font-size: 0.8rem;
  margin-top: 4px;
  color: var(--color_gris_claro);
}
.vistas{
  margin-right: 5px;
}
@media(max-width:1200px){
.pagina_youtube{
    grid-template-columns: 70px;
  }
.sidebar__iconos_texto, .sidebar__texto{
  display: none;
}
.sidebar-items{
  padding: 0;
}
.sidebar-item{
  padding: 0 20px;
}
.chips-wapper{
  max-width: calc(100vw - 70px);
}

}
@media(max-width:800px){
  .search-container{
    display: none;
  }
}